<% if @error_message.nil? -%>
  <% @assets.children.each do |child| -%>
    <%= render_children(child, {:level => @indent_level}) -%>
  <% end -%>
<% else -%>
  <td colspan="6"><%= @error_message -%></td>
<% end -%>
